<%- include('Partials/header') %>
<%- include('Partials/main_nav') %>
<div class="container text-center">
    <h1><%= message %></h1>
    <% if (error && error.status) { %>
        <h2>Status Code: <%= error.status %></h2>
    <% } %>
    <% if (error && error.stack) { %>
        <pre><%= error.stack %></pre>
    <% } %>
</div>
<%- include('Partials/footer') %>
